.navbar {
    font-family: var(--font-primary);
    background-color: transparent;
    margin-top: 0;
    padding-top: 25px;
}

.nav-desktop {
    display: block;
}

.nav-tablet {
    display: none;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar button.theme-changer {
    position: absolute;
    right: 20px;
    padding: 9px;
    border: none;
    background: none;
    border: solid 1px transparent;
    transition: border 0.3s ease;
}

.navbar button.theme-changer:hover {
    cursor: pointer;
    border: solid 1px var(--color-foreground-1000);
}

.navbar button.navbar-toggler:hover {
    cursor: pointer;
    border: solid 1px var(--color-foreground-1000);
}

.nav-left-items {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
}

.nav-right-items {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.nav-item {
    margin: 0 10px;
}

.nav-brand {
    font-size: 2rem;
    display: inline-block;
    position: relative;
    margin: 10px 20px 0;
    padding: 7px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.3rem;
    color: var(--color-foreground-1000);
    border: solid 1px var(--color-foreground-1000);
    background-color: var(--color-background-1000);
}

.nav-brand:hover {
    color: var(--color-background-1000);
    background-color: var(--color-foreground-1000);
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.nav-link {
    display: inline-block;
    position: relative;
    margin: 10px 20px 0;
    padding: 7px 0;
    text-decoration: none;
    color: var(--color-foreground-1000);
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 0px solid var(--color-accent-1000);
    transition: border 0.3s;
    letter-spacing: 0.1rem;
}

.nav-link::before {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 0;
    width: 0;

    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-foreground-1000);
    transition: all 0.25s ease-out;
}

.nav-link:hover::before {
    width: 110%;
}

.nav-tablet .navbar-nav {
    display: none;
    position: absolute;
    width: 200px;
    right: 20px;
    background-color: var(--color-background-900);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding-bottom: 10px;
    z-index: 1000;
}

.navbar-nav.show {
    display: block;
}

.navbar-nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1050px) {
    .nav-desktop {
        display: none;
    }
    .nav-tablet {
        display: block;
    }

    .navbar .buttons-container {
        display: flex;
        flex-direction: row-reverse;
    }

    .navbar button.theme-changer {
        position: static;
        padding: 9px;
        border: none;
        background: none;
        border: solid 1px transparent;
        transition: border 0.3s ease;
    }

    .navbar button.navbar-toggler {
        position: static;
        padding: 9px;
        border: none;
        background: none;
        border: solid 1px transparent;
        transition: border 0.3s ease;
    }

    .navbar .top-container {
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
    }

}

@media screen and (max-width: 500px) {
    .nav-desktop {
        display: none;
    }
    .nav-tablet {
        display: block;
    }

    .navbar .nav-brand {
        font-size: 1.2rem;
    }
}
