package userViews

import "suchicodes-go/view/layout"

var props = layout.BaseProps {
    Title: "",
}

templ UserPage() {
    @layout.Base(props) {
        <div>Hello from the user page</div>
    }
}
