.skills {
    display: grid;
    grid-template-columns: 3fr 10fr;
}

.skills ul.skills-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    font-weight: 400;
    font-size: 1.8rem;
    padding-left: 10%;
    padding-top: 20px;
    margin-top: 0;
    color: var(--color-foreground-1000);
}

.skills h3 {
    margin: 10px 20px 0;
}

.skills .skills-list li {
    padding-top: 15px;
}

.skills .title {
    font-size: 2rem;
    padding: 10px 10px 10px 0px;
    border-bottom: dashed var(--color-foreground-1000) 1px;
    color: var(--color-foreground-1000);
}

.tab {
    border: 1px solid var(--color-foreground-1000);
    height: 100%;
    display: block;
}

.tab button {
    width: 100%;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 30px 10%;
    font-size: 1.2rem;
    transition: 0.3s;
    color: var(--color-foreground-1000);
}

.tab button:hover {
    background-color: var(--color-foreground-1000);
    color: var(--color-background-1000);
}

.tab button.active {
    color: var(--color-background-1000);
    background-color: var(--color-foreground-900);
}

.tabcontent {
    height: 100%;
    display: block;
    padding: 0px 12px;
    border: 1px solid var(--color-foreground-1000);
    border-left: none;
}

.tabcontent {
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media screen and (max-width: 1000px) {

    .skills {
        display: grid;
        grid-template-columns: 1fr;
    }

    .tab {
        padding-left: 0;
        display: block;
        overflow: auto;
        white-space: nowrap;
        border-bottom: none;
    }

    .tab button {
        display: inline;
        width: fit-content;
    }

    .tabcontent {
        height: 100%;
        display: block;
        padding: 0px 12px;
        border: 1px solid var(--color-foreground-1000);
    }

    .skills ul.skills-list {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        font-weight: 400;
        font-size: 1.4rem;
        padding-left: 10%;
        padding-top: 20px;
        color: var(--color-foreground-1000);
    }
}

@media screen and (max-width: 500px) {
    .skills .title {
        font-size: 1.5rem;
    }

    .skills ul.skills-list {
        columns: 1;
        font-size: 1.4rem;
    }
}
